.Footer-Navigation {
    display: block;
    margin: auto;
    width: 80%; 
}


.footer__nav-wrapper {   
    padding-top:3%;
    margin: auto;
    width: 80%;
    overflow:hidden;
    box-sizing: border-box;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .copyright {
     display: flex;
     margin-top: 10px; 
     margin-bottom: 15px;
     color: darkgray;
     font-size: 0.9rem;
 }

 .copyright * {
     margin-left: 5px;
     margin-right: 5px; 
 }

.created {
    color: rgb(170, 170, 170);
    margin-top: 15px; 
    margin-bottom: 5px;
    font-size: 0.9rem;
}

 .social {
     margin-top: 5px;
     text-align: center;    
 }

.created__fb, .created__mail {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(128, 128, 128);
    margin: 15px;    
    transition: 0.3s;

}

.created__fb:hover {
    color:#3B5998
}

.created__mail:hover {
    color: #ad3e2f
}

@media (max-width: 1100px) {
     
     
}


 @media (max-width: 570px) {
     .Footer-Navigation {
        width: 100%;        
     }
     .footer__nav-wrapper {
          width: 100%; 
     }
     .copyright {
         flex-direction: column;
         align-items: center;
         width: 50%;
         text-align: center;
     }

 }

 @media (max-width: 440px) {
     
     
}