.ProductsMenu {    
    text-align: center;
    width: 230px;
    box-sizing: border-box;
    background: rgb(230, 230, 230);
    padding: 10px;
    margin-left: 50px;
}

.ProductsMenu__header {
    margin-bottom: 10px;
}

.ProductsMenu__content {
    padding: 10px;
    background: rgb(240, 240, 240);
    text-align: left;
}

.ProductsMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.ProductsMenu ul  li{  
    padding: 5px;
}

.ProductsMenu ul  li a{  
    font-size: 0.9rem;
    color:black;
    text-decoration: none;
    padding: 3px 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in; 
    box-sizing: border-box; 
}
   
 
 
@media (max-width: 880px) {
    .ProductsMenu {
        margin-bottom: 20px; 
        margin-left: 10px;       
    }
  }

  @media (max-width: 750px) {
      .ProductsMenu {
          width: 100%;
          padding: 0;
          margin: 0;
      }
    .ProductsMenu ul { 
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
  }

  @media (max-width: 440px) {
      .ProductsMenu ul {
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
      }
  }