.Navigation {
    width: 100%;  
    height: 70px;
    box-sizing: border-box;
    background: #3a3a3a;     
}


.nav-wrapper {  
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.navigation__logo img {
    width: 110px; 
    vertical-align: middle;
}

