.Services {
    padding-top: 120px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
    align-content: center;
}

.Services h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.order-service {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.order-service p {
    background: rgb(226, 226, 226);
    font-weight: 500;
    padding: 15px;
    font-size: 1.2rem;
}

.img {
    width: 300px;
    height: 300px;
    filter: grayscale(30%);
    transition: .3s ease-in;
    margin: 35px;
}


.img:hover {
    filter: grayscale(0)
}

.service-block {
    box-shadow: 10px 10px 82px -26px rgba(0, 0, 0, 0.75);
}

.trotuar-ukladka {
    display: block;
    margin-top: 50px;
    align-content: space-between;
}


.service-text {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.trotuar-header, .gazon-header {
    display: flex
}

.ukladka-price {
    margin-top: 25px;
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
}

.character-ukladka-img {
    width: 500px;
    display: block;
    margin: 20px auto;
}

.ukladka-more {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.more_images, .asphalt_more-images, .forging-more_images  {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.more_images img, .asphalt_more-images img, .forging-more_images img {
    padding: 3px;
    width: 300px;
    height: 200px;
}

.service-text h2 {
    text-align: center;
}

.asphalt {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-content: space-between;
}

.asphalt-header {
    display: flex;
    flex-direction: row-reverse
}
 

.roof {
    display: flex;
    margin-top: 50px;
    align-content: space-between;
}

.repair {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    align-content: space-between;
}

.forging {
    display: block;
    margin-top: 50px;
    align-content: space-between;
}

.forging-header {
    display: flex;
}
 

/* .zoomed { 
    position: fixed;
    top: 120px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 69% !important;
    height: auto !important;
    z-index: 3;
    margin: auto; 
    transition: .3s;
} */

/* .zoomBackDrop {
    z-index: 2;  
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} */
 
@media (max-width: 1100px) {
    .service-block {
        flex-direction: column;
        align-items: center;
    }

    .service-text p {
        font-size: 1rem;
    }

    .service-text {
        box-sizing: border-box;
        padding: 50px;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        justify-content: center;

    }

    .service-text h2 {
        font-size: 1.3rem;
        font-weight: bold; 
    }

    .trotuar-header, .gazon-header, .forging-header , .asphalt-header {
        display: block;
        text-align: center;
    }

    .more_images img {
        margin: 0 auto;
    }

   
    .forging-more_images img {
        margin: 0 auto;
    }
}

@media (max-width: 880px) {
    .Services {
        padding-top: 50px;
    }

    .service-block {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .service-text {
        text-align: center;
        justify-content: center;
        width: 100%;
        font-size: 1.2rem;
    }

    .img {
        margin: 15px;
        width: 200px;
        height: 200px;
    }


    .more_images img {
        width: 250px;
        height: 150px;
        margin-left: 20px;
    }

    .forging-more_images img, .asphalt_more-images img {
        width: 250px;
        height: 150px;
    }


}


@media (max-width: 750px) {
    .Services {
        width: 98%;
    }

    .service-block {
        width: 100%;
    }

    .character-ukladka-img {
        width: 300px;
        display: block;
        margin: 10px auto;
    }

    .more_images img {
        width: 170px;
        height: 100px;
        margin: 0 auto;
    }

    .forging-more_images img, .asphalt_more-images img {
        width: 170px;
        height: 100px;
        padding: 5px;
        margin: 0 auto;
    }
}

@media (max-width: 440px) {
    .service-text {
        padding: 15px;
        font-size: .9rem;
        display: flex;
        text-align: left;
        flex-direction: column;
    }
     
 
    .character-ukladka-img {
        width: 250px;
        display: block;
        margin: 10px auto;
    }

    .more_images img {
        width: 170px;
        height: 100px;
        margin: 0 auto;
    }

    .forging-more_images img, .asphalt_more-images img {
        width: 170px;
        height: 100px;
        padding: 5px;
        margin: 0 auto;
    }
}