.HeaderMenu {   
    position: relative;
}

.HeaderMenu ul {
    list-style: none;
    display: flex;
}

.HeaderMenu ul  li{ 
    color: #fff; 
    margin-left: 30px;  
}

.HeaderMenu ul  li a{ 
    color: #fff;    
    text-decoration: none;
    padding: 3px 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in; 
    box-sizing: border-box; 
}
   
.HeaderMenu ul  li a:hover{  
    border: 2px solid #ccc; 
}


.Drawer { 
    position: fixed;
    right: 0; 
    top: 0; 
    bottom: 0;
    width: 80%;
    background: #fff;
    max-width: 300px;
    padding: 120px 10px; 
    text-align: center;
    box-sizing: border-box; 
    transform: translateX(0);
    transition: all .3s ease-in;
    z-index: 90; 
}

.Drawer.close { 
    transform: translateX(300px);    
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    align-content: center;
}

.Drawer li {
    margin-bottom: 15px;
}

.Drawer ul li a {
    
    /* color: #adadad; */
    color: #363d54;
    font-size: 20px; 
    text-decoration: none;
    background-color: #fff;
    position: relative;
    padding: 0 20px 10px 20px;
    transition: opacity .3s;
}


.Drawer ul li a:hover, .active {
    opacity: .9;
}

.drawer-contact li{
    margin-bottom:25px;
}

@media (max-width: 1100px) { 
    .HeaderMenu {
        display: none;
    } 
}

@media (max-width: 880px) { 
 
}