.Button {
    top:50%;
    left: 50%;
    transition: .5s ease;  
    transform: translate(0, 55%);    
}

.Button a , .send-btn{    
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 3rem;
    background: rgb(196, 27, 27);
    transition: .5s ease;  
}

.Button a:hover {
    background:  rgb(158, 23, 23);
}
 
.send-button, .send-btn {
    display: block;
    outline: none;
    cursor: pointer;
    border: none;
}


@media (max-width: 880px) {
    .Button a {
     padding: 0.8rem 2.7rem;
     line-height: 1.4;
    }
}

@media (max-width: 650px) {
    .Button a {
     padding: 0.6rem 2.5rem;
     line-height: 1.4;
    }
}

@media (max-width: 440px) {
    .Button a,.send-btn {
     padding: 0.4rem 2.3rem;
     line-height: 1.4;
    }
}