.Contact {
    padding-top: 170px;   
    box-sizing: border-box;
    font-size: 18px;
    display: block;
}

.all-contact {
    padding-top: 50px;
    width: 80%;
    margin: auto; 
    text-align: center; 
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.contact-block {
    padding: 30px;
    margin: 10px;
    width: 390px;
    height: 250px; 
    display: flex;
    flex-direction: column;
}

.contact-block i {
    font-size: 4.5rem;
    color: #666;
    margin-bottom: 40px;
}

.contact-block p {
    font-weight: 500;
    margin-top: 15px;
}

.phones__icons {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.phones__icons div {
    margin: 10px 20px;
}

.phones__icons p {
    margin: 0;
}


.phones__icons i {
    font-size: 2rem;
    margin: 30px 10px 10px 10px;
}

.phones__numbers {
    display: flex;
    justify-content: center;
}

.phones__numbers p {
    margin-left: 15px;
    margin-right: 15px;
}

.contact__phones, .contact__addresses {
    background: linear-gradient(to top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
    box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.75);
    transition: .5s ease-in-out;
}

.contact__phones i {  
    color: #007dc6;
}

.contact__addresses i {     
    color: red; 
}

.animatePointer {
    /* background: #f2e30e; */

    animation: drag-pointer 2.5s;
}


@keyframes drag-pointer {
   
  0% { 

    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(0px,-25px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(0px,-15px)  ;
  }
  60% {      
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(0px,-5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}


.animateCall {
    animation: drag-call 2s;
}

@keyframes drag-call {
   
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(3px, 0, 0);
      }
    }
  
 #contact-map {
    scroll-behavior:smooth
 }

 
@media (max-width: 1100px) { 
    .contact-block {
        padding: 30px;
        margin: 10px;
        width: 390px;
        height: 270px; 
        display: flex;
        flex-direction: column;
    }
    .phones__numbers {
        flex-direction: column;
    }
    .phones__icons div {
        margin: 0 20px;
    }
}

@media (max-width: 880px) {
    .Contact {
        padding-top: 50px;
    }

    .all-contact {
        flex-direction: column; 
        align-items: center;
    }
    .contact-block {
        padding: 30px;
        margin: 10px;
        width: 390px;
        height: 270px; 
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 440px) {
    .Contact {
        padding-top: 50px;
    }

    .all-contact {
        flex-direction: column; 
        align-items: center;
    }
    .contact-block {
        padding: 10px;
        margin: 10px;
        width: 100%;
        height: 270px; 
        display: flex;
        flex-direction: column;
    }

    .contact__phones {
        font-size: 1rem;
    }

    .contact__phones  .fa-headset {
        font-size: 2.3rem;
    }

    .phones__icons i {
        font-size: 1.2rem;
    }

    .contact__addresses i {
        margin-top: 5px;
        font-size: 2.3rem;
    }
     
    .contact__addresses {
        font-size: 1rem;
    }
}
