.Reviews {
  padding-top: 120px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  box-sizing: border-box;
  align-content: center;
}

.Reviews h2 {
  padding: 25px;
}

.Reviews .pagination-block {
  margin-top: 5px;
  margin-bottom: 15px; 
}

.reviews-block {
  display: flex;
  justify-content: space-between;
}

.reviews-block__item {
  width: 58%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.review-item { 
  padding: 30px;
  width: 90%;
  /* -webkit-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75); */
  border-top: 1px solid rgba(251, 235, 93, 0.863);
}


.review-item p {
  color: rgb(92, 92, 92);
  margin-bottom: 10px;
}

.reviews-block__form {
  background-color: #FBAF5D;
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inputFields {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: none;
}

.reviews-block__form h4 {
  color: #ffffff;
  margin-top:25px;
}

.reviews-block__form p {
  color: #e4e4e4;
  font-size: 0.8rem;
  width: 80%;
  margin:0 auto;
  margin-bottom: 10px;
}

.reviews-block__form textarea {
  resize: vertical;
  margin-bottom: 10px;
}

.reviews-block__form button {
  padding: 15px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition:  .3s
}

.reviews-block__form button:hover {
  background: #ccc;
}


@media (max-width: 980px) {
  .Reviews {
    padding-top: 60px;
    width: 95%;
     
  }
  .reviews-block {
    flex-direction: column;    
  }
  .reviews-block__form, .reviews-block__item {     
    width: 100%;    
    margin-top: 15px;
  }
}