h2 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
    color: #3f3f3f;
    text-align: center;
}

h3 {
    margin-top: 1.5rem;
    text-align: center;
    font-family: inherit;
}



.main-services {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}



.show-hided {
    animation: show-hidden 2.5s;
    animation-delay: 90ms;
}

@keyframes show-hidden {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

.service-animate {
    animation-delay: 130ms;
    animation-duration: 2.7s;

}

.main-services {
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    padding-bottom: 140px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 7px 13px -11px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.service-content {
    margin-top: 75px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.main-services__service {
    flex: 1;
    box-sizing: border-box;
    margin-right: 20px;
    color: #999999;
    padding: 40px;
    animation-duration: 3s;
    animation-delay: 180ms;
    transition: .5s;
    user-select: none;
}

.main-services__service:hover {
    box-shadow: 6px 7px 19px -11px rgba(0, 0, 0, 0.75);
    transform: translate(-5px, 5px);
    color: #777777
}


.main-services__service img {
    width: 75px;
    margin-bottom: 15px;
}

.services__orderButton {
    animation-duration: 3s;
    animation-delay: 190ms;

}

/* end services  */


/* begin contacts */

.main-contact {
    position: relative;
    margin-top: 110px;
    height: 560px;
    background: #f0f0f0a1;
    padding-top: 40px;
}

/* end contacts */

.main-map {
    margin-top: 110px;
    overflow: hidden;
}

.main-map__map {
    padding-top: 80px;
}

@media (max-width: 880px) {
    .main-contact {
        height: 690px;
    }
    
    .service-content {
        margin-top: 30px;
        flex-direction: column;
    }

    .main-services__service {
        display: flex;
        justify-content: flex-start;
        padding: 30px;
    }

    .main-services__service img {
        width: 60px;
        height: 60px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    
    .main-services {
        padding-bottom: 100px;
    }
}
@media (max-width: 650px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }    
}

@media (max-width: 440px) {
    .main-services__service {
       flex-direction: column;
       align-items: center;
       margin-right: 0;
    }

    .main-services__service img {       
        margin-bottom: 15px; 
    }

    .show-hided {
        animation: show-hidden 1s; 
    }
}