.Input {
    position: relative;
    box-sizing: border-box;
    width: 260px;
    margin: 0 auto;
    display: block;
}

.Input input {
    margin-top: 10px;
    background: #fdfcfc;
    margin-bottom: 20px;    
    line-height: 16px;
    box-sizing: border-box; 
    padding: 10px 10px;
    font-size: 15px;
    border:  none; 
    outline: none;
    padding-right: 40px;
    box-shadow: 0 0  15px rgba(0, 0, 0, .2)
}
 
@media (max-width: 650px) {
    /* .Input input {
    } */
}