@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* * {
    margin: 0;
} */




/* .slick-slide img {
  width: 600px;
  margin-bottom: 40px     
}   */

/* .slick-list, .slick-track {
  min-height: 500px;
} */

/* 
.service-slider {
  width:  600px;
}  */

/* .zoomed-image_slide {
  width: 90%;
  height: 50%;
} */

.slick-dots li {
  margin-right: 10px;
  width: 80px;
}

/* .zoomed-image_slide img {
  width: 50%
} */
.services-slider {
  padding-top: 60px;
}

.service-slider img {
  width: 50%;
}

.carousel .thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}


@media (max-width: 850px) {
  .services-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }

  .slide {
    width: 90% !important;
  }
}



@media (max-width: 1000px) {
  .service-slider img {
    width: 100%;
  }

  .slide {
    /* width: 100% !important;  */
  }

  .thumbs {
    /* -webkit-transform: none !important; */
    transform: none !important; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
  }

}