.Trotuar { 
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}

.product-card {
    margin-bottom: 25px;
    position: relative;
    box-sizing: border-box;
    width: 650px;
    height: 100%;
    padding: 15px;
    border-top: 1px solid rgb(212, 212, 212);
    display: flex;
    /* outline: 1px solid red; */
}

.card__img img {
    width: 250px;
    height: 250px; 
    margin-right: 15px;
}
 
.card__about h4 {
    font-size: 1.2rem;
}

/* Table */

.divTable{ 
	display: table;
    width: 100%;
    padding-top:25px; 
    padding-bottom:10px; 
    font-size: 0.9rem;
}
.divTableRow {
	display: table-row;
}
 
.divTableCell, .divTableHead { 
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {  
	font-weight: 500;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

/* card pric */

.card-price { 
    display: flex;
}

.card-price div {
    padding: 2px;
    font-weight: 500;
}

.card-price__color {
    background: rgb(170, 11, 11);
    color: #fff;
}


.card-price__gray {
    background: rgb(201, 201, 201); 
}

.trotuar-filter { 
    background: #EEE;
    width: 100%;
}

.filter div {
    font-size: 0.9rem;
    display: flex; 
    flex-flow: wrap;
    flex-direction: column;
} 

.pagination-block {
    margin: 0 auto;
}
.pagination-block ul {
    list-style: none;
}

.pagination-block ul li {
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    background: #EEE;
    transition: 0.3s
}

.pagination-block ul li:hover {
    background: rgb(214, 214, 214) !important; 
}

.card__img h4 {
    display: none;
    text-align: center;
    margin-bottom: 5px;
}

.active_page {
  background: #3a3a3a !important;
  color: white 
}


@media (max-width: 1100px) {
    .product-card { 
        text-align: center;        
        width: 500px;  
    }
    .card__img {
        width: 150px;
        height: 150px;         
        margin-right: 10px;
        margin-top: 50px;
    }
    .card__img img {
        width: 150px;
        height: 150px;  
    }
}

@media (max-width: 880px) {
    .product-card { 
        margin-bottom: 15px;
        width: 100%;  
        flex-direction: row;
        align-items: center;
        text-align: center;        
        height: 100%;
    }
    .card__img {
        width: 150px;
        height: 150px;  
        margin-top: 0;
    }
    .card__img img {
        width: 150px;
        height: 150px;  
    }
    .card__about h4 {
        margin-top: 5px;
    }
}

@media (max-width: 750px) {
        .product-card { 
        margin-bottom: 15px;
        width: 100%;  
        flex-direction: row;
        align-items: center;
        text-align: center;        
        height: 100%;
    }     
}

@media (max-width: 530px) {     
    .product-card { 
        margin-bottom: 15px; 
        flex-direction: row;
        align-items: center;
        text-align: left;        
        height: 100%;
    }
    .card-price { 
        display: flex;
        flex-direction: column;
    }
    .card__img  {
        margin-top: -30px;
    }     
}

@media (max-width: 530px) {     
    .product-card { 
        margin-bottom: 15px; 
        flex-direction: row;
        align-items: center;
        text-align: left;        
        height: 100%;
    }
    .card-price { 
        display: flex;
        flex-direction: column;
    }
    .card__img  {
        margin-top: -30px;
    }     
}

@media (max-width: 440px) {     
    .Trotuar {
        padding: 10px;
    }
    .product-card { 
        margin-bottom: 15px; 
        flex-direction: column;
        align-items: center;
        text-align: left;        
        height: 100%;
    }
    .card__img  {
        margin-top: 0;        
    } 
    .card__img h4 {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.4rem;
    }

    .card__about {
        margin-top: 20px;
    }
    .card__about h4 {
        display: none;
        text-align: center;
        position: relative;
    }
} 