.ZoomImage {
    position: fixed;
    z-index: 2001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.582);
    animation: modalAnimate .4s;
}

.ZoomImage img {
    /* position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 69%;
    height: auto;
    animation: zoomImage .3s;
}

@keyframes modalAnimate {
    0% {
        opacity: 0
    }

    100% {
        opacity: 100%;
    }
}

@keyframes zoomImage {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 69%;
        height: auto;
    }
}


/* @media (max-width: 750px) {
    .ZoomImage img {
        position: fixed;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        animation: zoomImageMobile .3s;
    }
} */

@keyframes zoomImageMobile {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 95%;
        height: auto;
    }
}
