.MenuToggle { 
    display: none;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: opacity, right .22s ease-in; 
    z-index: 2000;
}

.MenuToggle:hover {
    opacity: .7;
}
.MenuToggle.opened {
    color: #666666;
    transition: .2s;
}
.MenuToggle.opened:hover {
    color: #777777;
}

 

@media (max-width: 1100px) { 

    .MenuToggle {
        display: block;
    }
}

@media (max-width: 880px) { 
    .MenuToggle { 
        top: 17.5%;
    }
}

 