.Header {
    width: 100%;
    box-sizing: border-box;
    z-index: 200;
    position: fixed;
}


.header-fixed {
    position: fixed;
    animation: slide-down 2.3s;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/*  top header */
.top-header {
    box-sizing: border-box;
    display: block;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    background: #fff;
}

.top-header__contact {
    width: 80%;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;

}

.top-header__contact a {
    text-decoration: none;
    color: #000; 
}

.top-header__contact div {
    margin-left: 30px;
    display: inline-block;
}

.contact-phone::before {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px;
    font-weight: 900;
    font-size: 17px;
    color: #666;
    transform: rotate(90deg);
    margin-right: 3px;
}

.contact-mail:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px;
    font-weight: 900;
    font-size: 17px;
    color: #666;
    margin-right: 3px;
}

.contact-address a {
    color: black;
    text-decoration: none;
}

.contact-address:before {
    font-family: "Font Awesome 5 Free";
    content: "\f3c5";
    display: inline-block;
    padding-right: 3px;
    font-weight: 900;
    font-size: 17px;
    color: #666;
    margin-right: 3px;
}

/*  end  top header */

@media (max-width: 880px) {
    .top-header {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-size: 15px;
        background: #fff;
        margin: auto;
    }
    .top-header__contact {        
        justify-content: space-around;
        width: 100%;
    }
    .top-header__contact div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .header-fixed {
        display: none;
        position: static;          
    }
    .top-header {
        display: none;
    } 
 
    .Header {
        position: relative;
    }
}

 