.Footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 90px;
  height: 100%;
  box-sizing: border-box;
  background: #3a3a3a;
  display: flex;
  flex-direction: column;
}

.footer__contact-info {
  display: none;
}

.copyright {
  margin: 0 auto !important;
  padding: 15px;
}

@media (max-width: 1100px) {
  .footer-wrapper {
      display: flex;
      flex-direction:  row-reverse;
      margin: 0 auto;
      align-items: center;  
  }

  .footer__contact-info {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    margin: 0 auto;
    color: #3a3a3a; 
  }

  .footer__contact-info div {
      padding: 5px;
  }

  .footer__contact-info a {
    text-decoration: none;
    color: #747474;
  }
}

@media (max-width: 570px) {
  .Footer {
    min-height: 180px;
  }
}

@media (max-width: 440px) {
  .Footer {
    position: relative;
    left: 0px;
    bottom: 0px;
  }
}
