.Products {
    margin: auto;
    padding-top: 150px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.products-content {
    margin-left: 30px;
    margin-right: 30px;
    background: #fff;
    box-sizing: border-box;
}

.about-products {
    box-sizing: border-box;
    /* width: 70%; */
    line-height: 1.6em;
    box-shadow: 1px 1px 58px -26px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.about-products h2 {
    margin-bottom: 30px;
}

.about-products__img img {
    width: 100%;
    margin-bottom: 40px;

}

.sidebar {
    display: flex;
    flex-direction: column;
}



@media (max-width: 1100px) {
    .Products {
        padding-top: 50px;
    }
}

@media (max-width: 880px) {
    .Products {
        /* padding-top: 50px; */
    }
}

@media (max-width: 750px) {
    .Products {
        flex-direction: column;
        padding-top: 20px;
    }

    .products-content {
        /* margin-left: 30px; */
        /* margin-right: 30px; */
        background: #fff;
        box-sizing: border-box;
    }

}

@media (max-width: 530px) {
    .products-content {
        margin: 0;
    }
}