.LeaveUsMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-block {
    display: flex;
    width: 560px;
    margin: auto; 
    margin-top: 60px;
}

.message-text {    
    background: #fdfdfd; 
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    line-height: 16px;
    padding: 8px 10px;
    font-size: 16px;
    resize:none; 
    width: 300px;
    height: 124px;
    border:  none; 
    outline: none;
    padding-right: 40px;
    box-shadow: 0 0  15px rgba(0, 0, 0, .2); 
} 

.sended {
    padding: 10px;
}

.LeaveUsMessage_main-wrapper {
    width: 90%;
    display: flex; 
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    align-items: center
}

.LeaveUsMessage_wrapper {
    display: flex;
    flex-direction: column;
}

.work-time {
    padding: 50px;
    color: red
}
  
 
@media (max-width: 880px) {    
    .message-block {    
        display: block;
        margin: auto;
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;       
        width: 100%;  
    }
    .textarea {
        text-align: center;
    }
    .work-time {
        padding: 20px;
        display: flex;
        flex-direction: column; 
    }

    .textarea span {
        display: block;
        margin-bottom: 10px;
    }   
    
    .message-text {
        margin-top: 15px;
        width: 245px;
        height: 90px;
        margin: auto;
    }
}

 