@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
    margin: 0;
}


.slick-slider {
    width: 100%;   
    padding-top: 100px; 
    box-sizing: border-box; 
    position: relative;
    padding-bottom: 100px;
}
 
.slick-slide img {
    width: 100%;    
    min-height: 600px;
    height: calc(40vh);  
    overflow: hidden;  
}
 
 
.slick-prev {
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 6;  
    transition: all 300ms ease;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 55px; 
    z-index: 6;  
    background: rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
    padding: 10px;    
} 
 
.slick-next:before, .slick-prev:before  { 
    display: none;     
    font-family: FontAwesome;
    content: "\f061";
}

.slick-prev:before {
    font-family: FontAwesome;
    content: "\f060";
}

.arrow:before {
    display: inline-block;
    vertical-align: middle; 
    color: white;
    opacity: 1;
}
.arrow:hover {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.overlay {
    position: relative;
    
    overflow: hidden;
}
 
.overlay img {
    transition: .5s ease;
    position: relative;
}

.overlay::before {
    content: '';
    background: linear-gradient(to right, #0a0a0a, #1a1717);
    width: 100%;
    opacity: 0.3;
    min-height: 100%;
    position: absolute;
    z-index: 5;
    margin: auto;
    top: 0;
}


.slider-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transition: .5s ease; 
    z-index: 10;
    transform: translate(-50%, -50%); 
    background: #0a0a0a46;
    margin: auto;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: inherit;
    margin-bottom: 3rem !important;
    line-height: 1.2;
    text-align: center;
    align-items: center !important;
}

 
.discount {
    font-size: 60px;
    color: #EBEB06
}


@media (max-width: 1100px) {
    .slick-slider {
        padding-top: 0;
    }
    .slick-arrow {
        position: absolute;
        top: 45%;
    }
}


@media (max-width: 880px) {
    .slick-slide img {
        width: 100%;    
        min-height: 400px;
        overflow: hidden;  
    }
    .slider-text {
     font-size: 1.1rem;
     width: 80%;

    }
 
    .discount {
        font-size: 32px;
        color: #EBEB06
    }
    
    
    
}


@media (max-width: 650px) {
    .slick-slider {
        padding-bottom: 50px;
    }
}

@media (max-width: 440px) {
    .slick-slide img {
        min-height: 300px;
         /* height: calc(40vh);   */
    }
    .slick-arrow {
        display: none;
        position: absolute;
        top: 45%;
    }
    .slider-text {
        font-size:  0.7rem; 
        width: 80%
    }

}